# Sao chép file này thành .env và điền giá trị thật
#OPENAI_API_KEY=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
GROQ_API_KEY=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
PORT=3000
# Nếu dùng proxy nội bộ: HTTPS_PROXY=http://user:pass@proxy:8080
